.posts {

    margin: 10px;
    padding: 10px;
    
    

}

#author {

    padding-right: 700px;
   
}

#text {

    margin: 5px;
    padding: 10px;
    padding-left: 30px;

}
.post_txt {

    margin: 5px;
    padding: 10px;
    padding-left: 30px;

}